---
import Layout from '@/layouts/Layout.astro';
import ForgotPasswordForm from '@/components/auth/ForgotPasswordForm';

export const prerender = false;

const locale = 'en';
---

<Layout title="Forgot Password" description="Reset your password via email" locale={locale}>
  <div class="min-h-[calc(100vh-200px)] flex items-center justify-center py-12 px-4">
    <ForgotPasswordForm locale={locale} client:load />
  </div>
</Layout>
