---
import Layout from '@/layouts/Layout.astro';
import ForgotPasswordForm from '@/components/auth/ForgotPasswordForm';

export const prerender = false;

const locale = 'zh';
---

<Layout title="忘记密码" description="通过邮箱验证码重置密码" locale={locale}>
  <div class="min-h-[calc(100vh-200px)] flex items-center justify-center py-12 px-4">
    <ForgotPasswordForm locale={locale} client:load />
  </div>
</Layout>
